.App {
  font-size: 30px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
  margin: 0%;
  padding: 0%; 

}
.title {
  background-color: rgb(245, 126, 29);
  color: white;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 15px;
  padding-left: 10px;
}

.title button {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 10px;
  background-color: rgb(240, 16, 16);
  border: none;
  color: antiquewhite;
  margin: 20px;
}
.title button :hover {
  cursor: pointer;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display h4, h3 {
  margin: 5px;
}

.display img {
  width: 250px;
}